.bg-dark{
    background-color: rgb(26,27,28) !important;
}

hr{
    opacity: 100%;
}

.navbar{
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.header-text{

}
.bg-header .container-fluid{
    text-align: center !important;
}

.contents{
    font-family: 'Times New Roman', Times, serif;
}